In [6]:
intro = """
Author: Shivraj Anand
shivrajanand022002@gmail.com
github: github.com/shivrajanand
"""

In [7]:
# Write a Python script that declares variables for storing a person's name, age, and city, and then prints them.

name = input("Enter name: ")
age = int(input("Enter age: "))
city = input("Enter city: ")

print(f"Name = {name}, Age = {age}, City = {city}")

Name = Shivraj , Age = 22, City = madhepura

In [8]:
# Write a Python script that demonstrates dynamic typing by assigning different types of values to a single variable
# Write  a  Python  script  that  initializes  variables  with  different  data  types (integers, floats, strings, Booleans) and prints their types

a = 10
print("Type of a is ", type(a), "Id of a is ", id(a), "value of a is ", a)

a = 12.2
print("Type of a is ", type(a), "Id of a is ", id(a), "value of a is ", a)

a = "abcd"
print("Type of a is ", type(a), "Id of a is ", id(a), "value of a is ", a)

a = bool(1)
print("Type of a is ", type(a), "Id of a is ", id(a), "value of a is ", a)

Type of a is  <class 'int'> Id of a is  140736983735000 value of a is  10
Type of a is  <class 'float'> Id of a is  2148467200496 value of a is  12.2
Type of a is  <class 'str'> Id of a is  2148467408832 value of a is  abcd
Type of a is  <class 'bool'> Id of a is  140736982941328 value of a is  True

In [9]:
# Write a Python script that demonstrates the mutability of lists (mutable) and tuples (immutable) by performing operations on them.

list1 = [1, 2, 3]
tuple1 = (1, 2, 3)

list1[2] = 4 #No error in list assignment
tuple1[2] = 4 #Error in tuple assignment

TypeError: 'tuple' object does not support item assignment

In [10]:
#  Write  a  Python  script  that  prompts  the  user  to  enter  their  age  as  a  string, converts it to an integer, and then prints it.

age = input("Enter age: ")
age = int(age)
print(age)

22

In [11]:
# Write a Python script that declares variables with meaningful names following the snake case convention.

age_of_student = 22
name_of_student = "Shivraj Anand"
branch_of_student = "CSE"

In [13]:
# Write a Python script that demonstrates local and global variable scope by defining variables inside and outside functions.

x = 10
print("X before and outside function: ", x)
def func():
    x = 11
    print("X inside function: ", x)
func()
print("X after and outside function: ", x)

X before and outside function:  10
X inside function:  11
X after and outside function:  10

In [14]:
# Write a Python script that defines a constant (e.g., PI) and uses it in a calculation.

PI = 3.14
radius = 3

print("Area of circle is: ", PI*radius*radius)

Area of circle is:  28.259999999999998

In [16]:
# Write a Python script that demonstrates variable reassignment by assigning different values to the same variable and printing its final value.

a = 10
print("Value of a is ", a)

a = 13
print("Value of a is ", a)

a = 34
print("Value of a is ", a)

a = 425
print("Value of a is ", a)

a = 234
print("Value of a is ", a)

Value of a is  10
Value of a is  13
Value of a is  34
Value of a is  425
Value of a is  234

In [1]:
# Write a Python script with comments explaining each step of a simple calculation or operation.

# Program to get two numbers from user and return their product
a = int(input("Enter first number: ")) #Getting user input for first number
b = int(input("Enter second number: ")) #Getting user input for second number
c = int(input("Enter third number: ")) #Getting user input for third  number

product = a*b*c #Multiplying a, b and c and assigning final value to product variable

print("Product of ", a, b, "and ", c, "is ", product)

Product of  2 3 and  4 is  24

In [2]:
# Write a Python script that defines a global variable and modifies it within a function.

x = 10
print("Outside function before change x = ", x)
def func():
    global x
    print("Inside function after change x = ", x)
    x = x+1
    print("Inside function after change x = ", x)
func()
print("Outside function after change x = ", x)

Outside function before change x =  10
Inside function after change x =  10
Inside function after change x =  11
Outside function after change x =  11

In [4]:
# Write a Python script that demonstrates data type casting by converting a float to an integer and vice versa.

a = 10.2
print("float to integer: ", a, " --> ", int(a))

b = 10
print("integer to float: ", b, " --> ", float(b))

float to integer:  10.2  -->  10
integer to float:  10  -->  10.0

In [13]:
# Write a Python script that uses truthiness and falseness to control the flow of execution in a conditional statement.

a = bool(1)

if (a==1):
    print("This is a True Block")

if(a == 0):
    print("This is a False block")

This is a True Block

In [15]:
# Write a Python script that performs a calculation or operation, using descriptive variable names.

first_number = 1
second_number = 2

sum = first_number + second_number 

print(first_number, " + ", second_number, " = ", sum)

1  +  2  =  3

In [16]:
# Write a Python script that prompts the user to enter their name and then prints a personalized greeting.

name = input("Enter Name: ")
print("Hello ", name, "! Welcome to the world of Python")

Hello  Shivraj Anand ! Welcome to the world of Python

In [19]:
# Write a Python script that uses string interpolation to create a formatted string containing variables.

a = 1
b = 2
c = 3

print("a = %d, b = %d, c= %d" % (a, b, c))
print("a = {}, b = {}, c= {}".format(a, b, c))

a = 1, b = 2, c= 3
a = 1, b = 2, c= 3

In [27]:
# Write a Python script that uses different operators in expressions and demonstrates their precedence.
x = 11
y = 12
z = 13
w = 14
v = 15

result = (x + y) * z - w / v
print(result)

result = x + (y * z) - w / v
print(result)

result = x + y * (z - w) / v
print(result)


result = x + y * z - (w / v)
print(result)

298.06666666666666
166.06666666666666
10.2
166.06666666666666

In [29]:
# Write a Python script that defines variables with the same name in different namespaces and prints their values.

x = 10
print("Global Namespace: ",x)

def func1():
    x = 11
    print("Local func1 Namespace: ",x)

    def func2():
        x = 12
        print("Nested Local func2 Namespace: ",x)

    print("Calling func2")
    func2()


func1()

Global Namespace:  10
Local func1 Namespace:  11
Calling func2
Nested Local func2 Namespace:  12

In [32]:
# Write a Python script that demonstrates the use of different data types (e.g., integer, float, string) in a calculation or operation.

#Suppose we want to create a profit  calculator for different types of funds

principle = float(input("Enter principle amount: "))

fund_type = input("Enter name of fund: small/large: ")

no_of_days = int(input("Enter number of days for keeping fund: "))

if fund_type == 'large':
    interest_amount = principle*no_of_days*2

if fund_type == 'small':
    interest_amount = principle*no_of_days


print("Total interest generated over\nprinciple: ", principle, "\nfund type: ", fund_type, "\nnumber of days: ", no_of_days, "\nis: ", interest_amount)

Total interest generated over
principle:  10000.0
fund type:  large
number of days:  35
is:  700000.0